// === Colors ===
$c-white: #FFFFFF;
$c-white-porcelain: #EDF0F2;
$c-grey-regent: #879BA6;
$c-grey-river-bed: #455C63;
$c-grey-limed-spruce: #37474F;
$c-grey-outer-space: #263238;
$c-black: #000000;
$c-orange-ecstasy: #F58020;
$c-blue-sail: #99DBF6;
// Utils
$c-green-fun: #005f30;
$c-green-jade: #00ad57;
$c-red-mexican: #a32929;
$c-red-bittersweet: #ff6161;

// Theme
$color-themes: (
  'white': (
    light: $c-white,
    dark: $c-black,
  ),
  'lighter': (
    light: $c-white-porcelain,
    dark: $c-grey-outer-space,
  ),
  'light': (
    light: $c-grey-regent,
    dark: $c-grey-limed-spruce,
  ),
  'base': (
    light: $c-grey-river-bed,
    dark: $c-grey-river-bed,
  ),
  'dark': (
    light: $c-grey-limed-spruce,
    dark: $c-grey-regent,
  ),
  'darker': (
    light: $c-grey-outer-space,
    dark: $c-white-porcelain,
  ),
  'black': (
    light: $c-black,
    dark: $c-white,
  ),
  'action': (
    light: $c-orange-ecstasy,
    dark: $c-orange-ecstasy,
  ),
  'accent': (
    light: $c-blue-sail,
    dark: $c-blue-sail,
  ),
  'success': (
    light: $c-green-fun,
    dark: $c-green-jade,
  ),
  'error': (
    light: $c-red-mexican,
    dark: $c-red-bittersweet,
  ),
);
