@use 'SASS:list';
@use 'SASS:map';
@use 'SASS:meta';

// === Colors ===
$c-white: #ffffff;
$c-white-porcelain: #edf0f2;
$c-grey-regent: #879ba6;
$c-grey-river-bed: #455c63;
$c-grey-limed-spruce: #37474f;
$c-grey-outer-space: #263238;
$c-black: #000000;
$c-orange-ecstasy: #f58020;
$c-blue-sail: #99dbf6;

// Utils
$c-green-fun: #005f30;
$c-green-jade: #00ad57;
$c-red-mexican: #a32929;
$c-red-bittersweet: #ff6161;

// Theme
$color-themes: (
  'white': (
    light: $c-white,
    dark: $c-black,
  ),
  'lighter': (
    light: $c-white-porcelain,
    dark: $c-grey-outer-space,
  ),
  'light': (
    light: $c-grey-regent,
    dark: $c-grey-limed-spruce,
  ),
  'base': (
    light: $c-grey-river-bed,
    dark: $c-grey-river-bed,
  ),
  'dark': (
    light: $c-grey-limed-spruce,
    dark: $c-grey-regent,
  ),
  'darker': (
    light: $c-grey-outer-space,
    dark: $c-white-porcelain,
  ),
  'black': (
    light: $c-black,
    dark: $c-white,
  ),
  'action': (
    light: $c-orange-ecstasy,
    dark: $c-orange-ecstasy,
  ),
  'accent': (
    light: $c-blue-sail,
    dark: $c-blue-sail,
  ),
  'success': (
    light: $c-green-fun,
    dark: $c-green-jade,
  ),
  'error': (
    light: $c-red-mexican,
    dark: $c-red-bittersweet,
  ),
);

// === Color theme ===
@mixin set-color-data($theme-name, $key) {
  color-scheme: #{$theme-name};

  @each $color-name, $color-values in $color-themes {
    --#{$key}-#{$color-name}: #{map.get($color-values, $theme-name)};
  }
}

@mixin set-colors-variables($key) {
  $first-color-name: list.nth(map.keys($color-themes), 1);
  $first-color-value: map.get($color-themes, $first-color-name);

  @if meta.type-of($first-color-value) == 'map' {
    $theme-list: map.keys($first-color-value);
    $first-theme: list.nth($theme-list, 1);

    @each $theme-name in $theme-list {
      @if $theme-name == $first-theme {
        :root,
        [data-theme='#{$theme-name}']:root {
          @include set-color-data($theme-name, $key);
        }
      } @else {
        [data-theme='#{$theme-name}']:root {
          @include set-color-data($theme-name, $key);
        }

        @media (prefers-color-scheme: #{$theme-name}) {
          :root {
            @include set-color-data($theme-name, $key);
          }
        }
      }
    }
  } @else {
    :root {
      color-scheme: 'default';

      @each $color-name, $color-values in $color-themes {
        --#{$key}-#{$color-name}: #{$color-values};
      }
    }
  }
}
