// === Colors ===
// Greys
$c-grey-0: hsl(0deg 0% 100% / 100%);
$c-grey-1: hsl(0deg 0% 90% / 100%);
$c-grey-2: hsl(0deg 0% 80% / 100%);
$c-grey-3: hsl(0deg 0% 70% / 100%);
$c-grey-4: hsl(0deg 0% 60% / 100%);
$c-grey-5: hsl(0deg 0% 50% / 100%);
$c-grey-6: hsl(0deg 0% 40% / 100%);
$c-grey-7: hsl(0deg 0% 30% / 100%);
$c-grey-8: hsl(0deg 0% 20% / 100%);
$c-grey-9: hsl(0deg 0% 10% / 100%);
$c-grey-10: hsl(0deg 0% 0% / 100%);
// Utils
$c-green-fun: #005f30;
$c-green-jade: #00ad57;
$c-red-mexican: #a32929;
$c-red-bittersweet: #ff6161;
// Others

// Theme
$themes-enabled: (light, dark);
$color-themes: (
  'grey-0': (
    light: $c-grey-0,
    dark: $c-grey-10,
  ),
  'grey-1': (
    light: $c-grey-1,
    dark: $c-grey-9,
  ),
  'grey-2': (
    light: $c-grey-2,
    dark: $c-grey-8,
  ),
  'grey-3': (
    light: $c-grey-3,
    dark: $c-grey-7,
  ),
  'grey-4': (
    light: $c-grey-4,
    dark: $c-grey-6,
  ),
  'grey-5': (
    light: $c-grey-5,
    dark: $c-grey-5,
  ),
  'grey-6': (
    light: $c-grey-6,
    dark: $c-grey-4,
  ),
  'grey-7': (
    light: $c-grey-7,
    dark: $c-grey-3,
  ),
  'grey-8': (
    light: $c-grey-8,
    dark: $c-grey-2,
  ),
  'grey-9': (
    light: $c-grey-9,
    dark: $c-grey-1,
  ),
  'grey-10': (
    light: $c-grey-10,
    dark: $c-grey-0,
  ),
  'success': (
    light: $c-green-fun,
    dark: $c-green-jade,
  ),
  'error': (
    light: $c-red-mexican,
    dark: $c-red-bittersweet,
  ),
);
