@use './variables' as *;
@use 'SASS:map';

// === Variables ===
@mixin set-variables($key, $array) {
  :root{
    @each $name, $value in $array {
      @if $name == 'base' {
        --#{$key}: #{$value};
      } @else {
        --#{$key}-#{$name}: #{$value};
      }
    }
  }
}

// === Media query ===
@mixin mq($breakpoint) {
  @if $breakpoint != 'xs' {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// === Mask ===
@mixin base-mask() {
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}
