@use './variables' as *;
@use 'SASS:list';
@use 'SASS:map';

// === Variables ===
@mixin set-variables($key, $array) {
  @each $name, $value in $array {
    @if $name == 'base' {
      --#{$key}: #{$value};
    } @else {
      --#{$key}-#{$name}: #{$value};
    }
  }
}

// === Color theme ===
@mixin set-color-data($theme-name, $key) {
  color-scheme: #{$theme-name};
  @each $color-name, $color-values in $color-themes {
    --#{$key}-#{$color-name}: #{map.get($color-values, $theme-name)};
  }
}

@mixin set-colors-variables($key) {
  $first-color-name: list.nth(map.keys($color-themes), 1);
  $first-color-value: map.get($color-themes, $first-color-name);

  @if type-of($first-color-value) == "map" {
    $theme-list: map.keys($first-color-value);
    $first-theme: list.nth($theme-list, 1);

    @each $theme-name in $theme-list {
      @if $theme-name == $first-theme {
        &,
        &[data-theme='#{$theme-name}'] {
          @include set-color-data($theme-name, $key);
        }
      } @else {
          &[data-theme='#{$theme-name}'] {
            @include set-color-data($theme-name, $key);
          }
          @media (prefers-color-scheme: #{$theme-name}) {
            @include set-color-data($theme-name, $key);
          }
      }
    }
  } @else {
    color-scheme: 'default';
    @each $color-name, $color-values in $color-themes {
      --#{$key}-#{$color-name}: #{$color-values};
    }
  }
}

// === Title size ===
@mixin set-title-sizes() {
  @each $level, $config in $title-sizes {
    #{$level},
    .#{$level} {
      font-size: clamp(
        #{map.get($config, 'min')},
        #{map.get($config, 'ratio')},
        #{map.get($config, 'max')}
      );
    }
  }
}

// === Media query ===
@mixin mq($breakpoint) {
  @if $breakpoint != 'xs' {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// === Mask ===
@mixin base-mask() {
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}
