@use 'SASS:map';

// === Font families ===
$font-families: (
  'serif': '"Playfair Display", Georgia, "Times New Roman", serif',
  'sans': '"Inter", "Helvetica", Arial, sans-serif',
);

// === Font weights ===
$font-weights: (
  '1': 100,
  '2': 200,
  '3': 300,
  '4': 400,
  '5': 500,
  '6': 600,
  '7': 700,
  '8': 800,
);

// === Font sizes ===
$font-sizes: (
  '0': 0rem,
  '1': 1.4rem,
  '2': 1.6rem,
  '3': 1.8rem,
  '4': 2rem,
  '5': 2.4rem,
  '6': 3.2rem,
  '7': 4rem,
  '8': 4.8rem,
  '9': 6.4rem,
  '10': 8rem,
);

// === Title sizes ===
$title-sizes: (
  'h1': (
    'max': var(--fs-9),
    'min': var(--fs-7),
    'ratio': 5vw,
  ),
  'h2': (
    'max': var(--fs-7),
    'min': var(--fs-6),
    'ratio': 4vw,
  ),
  'h3': (
    'max': var(--fs-6),
    'min': var(--fs-5),
    'ratio': 3vw,
  ),
  'h4': (
    'max': var(--fs-5),
    'min': var(--fs-4),
    'ratio': 2.5vw,
  ),
  'h5': (
    'max': var(--fs-4),
    'min': var(--fs-3),
    'ratio': 2vw,
  ),
  'h6': (
    'max': var(--fs-3),
    'min': var(--fs-2),
    'ratio': 1.5vw,
  ),
);

// === Title size ===
@mixin set-title-sizes() {
  @each $level, $config in $title-sizes {
    #{$level},
    .#{$level} {
      font-size: clamp(
        #{map.get($config, 'min')},
        #{map.get($config, 'ratio')},
        #{map.get($config, 'max')}
      );
    }
  }
}
